@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
:root {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.1px;
  line-height: 1.15;
}

body.light-theme {
  background-color: #ffffff;
  color: #333333;
}

body.dark-theme {
  background-color: #333333;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
  color: currentColor;
}

figcaption {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  max-width: 320px;
  padding: 0px 20px;
  align-items: center;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 75px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0px 70px;
  }
}

.main-header {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  text-align: center;
  color: #ffffff;
}

.icon {
  display: inline-block;
  fill: currentColor;
}

.header-logo__icon {
  width: 24px;
  height: 24px;
}

.btn {
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.header-toggler__label {
  width: 50px;
  height: 20px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
.header-toggler__label:after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 1px;
  left: 1px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.header-toggler__input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.header-toggler__input:checked + .header-toggler__label {
  background: #242424;
}

.header-toggler__input:checked + .header-toggler__label:after {
  left: 49px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.header-toggler__label:active:after {
  width: 26px;
}

.header-toggler__input:checked + .header-toggler__label + .background {
  background: #242424;
}

.header {
  margin: 0 auto;
  padding: 40px 0 44px 0;
  min-height: 230px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0, 9;
}

@media screen and (max-width: 320px) {
  .header--main {
    background-image: url("../images/phone/home-header-bg-phone.jpg");
  }
}
@media screen and (max-width: 320px) and (min-device-pixel-ratio: 2), screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 320px) and (min-resolution: 2dppx), screen and (max-width: 320px) and (min-resolution: 192dpi) {
  .header--main {
    background-image: url("../images/phone/home-header-bg-phone@2x.jpg");
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .header--main {
    padding: 45px 0 45px 0;
    height: 216px;
    background-image: url("../images/tablet/home-header-backgroud-tablet.jpg");
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 321px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 321px) and (max-width: 768px) and (min-resolution: 2dppx), screen and (min-width: 321px) and (max-width: 768px) and (min-resolution: 192dpi) {
  .header--main {
    background-image: url("../images/tablet/home-header-backgroud-tablet@2x.jpg");
  }
}
@media (min-width: 769px) {
  .header--main {
    padding: 45px 0 44px 0;
    height: 216px;
    background-image: url("../images/desktop/home-header-bg-desktop.jpg");
  }
}
@media (min-width: 769px) and (min-device-pixel-ratio: 2), (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 769px) and (min-resolution: 2dppx), (min-width: 769px) and (min-resolution: 192dpi) {
  .header--main {
    background-image: url("../images/desktop/home-header-bg-desktop@2x.jpg");
  }
}

@media screen and (max-width: 320px) {
  .header--library {
    background-image: url("../images/phone/my-library-header-bg-phone.jpg");
  }
}
@media screen and (max-width: 320px) and (min-device-pixel-ratio: 2), screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 320px) and (min-resolution: 2dppx), screen and (max-width: 320px) and (min-resolution: 192dpi) {
  .header--library {
    background-image: url("../images/phone/my-library-header-bg-phone@2x.jpg");
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .header--library {
    padding: 45px 0 45px 0;
    height: 216px;
    background-image: url("../images/tablet/my-library-header-backgroud-tablet.jpg");
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 321px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 321px) and (max-width: 768px) and (min-resolution: 2dppx), screen and (min-width: 321px) and (max-width: 768px) and (min-resolution: 192dpi) {
  .header--library {
    background-image: url("../images/tablet/my-library-header-backgroud-tablet@2x.jpg");
  }
}
@media (min-width: 769px) {
  .header--library {
    padding: 45px 0 44px 0;
    height: 216px;
    background-image: url("../images/desktop/my-library-header-bg-desktop.jpg");
  }
}
@media (min-width: 769px) and (min-device-pixel-ratio: 2), (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 769px) and (min-resolution: 2dppx), (min-width: 769px) and (min-resolution: 192dpi) {
  .header--library {
    background-image: url("../images/desktop/my-library-header-bg-desktop@2x.jpg");
  }
}

.header-container {
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .header-container {
    min-width: 320px;
    padding: 0 20px;
  }
}
@media (min-width: 768px) and (max-width: 1279.98px) {
  .header-container {
    width: 768px;
    padding: 0 32px;
  }
}
@media (min-width: 1280px) {
  .header-container {
    width: 1280px;
    padding: 0 32px;
  }
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}
@media (min-width: 768px) {
  .header-menu {
    margin-bottom: 40px;
  }
}

.header-logo__link {
  display: flex;
  align-items: center;
}
.header-logo__icon {
  width: 24px;
  height: 24px;
}
.header-logo__title {
  color: #ffffff;
  margin-left: 10px;
  font-size: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-logo__title:hover, .header-logo__title:focus {
  color: #FF6B08;
}

@media screen and (max-width: 479px) {
  .header-logo__title {
    display: none;
  }
}
.header-nav {
  justify-content: space-between;
  align-items: flex-end;
}
.header-nav__list {
  color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 5px;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.06px;
  text-align: center;
  text-transform: uppercase;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .header-nav__list {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .header-nav__list {
    -moz-column-gap: 39px;
         column-gap: 39px;
  }
}
.header-nav__item {
  text-transform: uppercase;
  align-items: center;
  position: relative;
}
.header-nav__item:last-child {
  margin-left: 39px;
}
.header-nav__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link:hover, .header-nav__link:focus {
  transform: scale(1.15);
  color: #FF6B08;
}
.header-nav__link:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #a7151a;
  border-radius: 2px;
  transform: scale(0, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link--active:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #a7151a;
  border-radius: 2px;
  transform: scale(1, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link:hover:after {
  transform: scale(1, 1);
}

.header-form {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  min-width: 280px;
}
@media screen and (min-width: 768px) {
  .header-form {
    min-width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .header-form {
    max-width: 394px;
  }
}
.header-form__input {
  width: 100%;
  outline: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  transition: border-bottom 700ms, box-shadow 700ms, transform 700ms;
}
.header-form__input:hover, .header-form__input:focus {
  transform: scale(1.1);
  border-bottom: 3px solid #a7151a;
  box-shadow: inset 3px -9px 25px -10px #46caef;
}
.header-form__input:hover + .header-form__btn {
  transform: scale(1.3);
}
.header-form__input::-moz-placeholder {
  color: #ffffff;
}
.header-form__input::placeholder {
  color: #ffffff;
}
.header-form__btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.header-form__icon:hover, .header-form__icon:focus {
  transform: scale(1.3);
}
.header-form__misstatement {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #a7151a;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .header-form__misstatement {
    text-align: center;
  }
}

.header__tools {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
}

.genre,
.genre-choice {
  font: normal 11px/22px Arial, Sans-Serif;
  color: #000000;
  border: 1px solid #ccc;
}

.header__genre-option {
  padding: 0 10px;
  font-weight: bold;
}

.header-toggler {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.header-library {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}
.header-library__div {
  display: flex;
  gap: 15px;
}
.header-library__btn {
  width: 136px;
  height: 44px;
  background: rgba(0, 0, 0, 0.56);
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  transition: all 0.2s ease-in-out;
}
.header-library__btn:active, .header-library__btn--selected {
  background-color: #FF6B08;
  border: 1px solid #FF6B08;
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
}
.header-library__btn:hover {
  transform: scale(1.03);
}

.main-content__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 32px 16px;
  padding: 20px;
}

.gallery {
  display: flex;
  flex-direction: column;
  padding: 0 20px 61px;
}

@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;
  }
  .gallery__container {
    flex-basis: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
  .gallery__container {
    flex-basis: calc((100% - 16px) / 3);
  }
}
.movie-item {
  max-height: 440px;
  max-width: 280px;
}
.movie-item__details {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
}
.movie-item__rating {
  background-color: #ff6b01;
  color: #ffffff;
  width: 36px;
  height: 16px;
  line-height: 14px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.movie-item__year, .movie-item__line {
  color: #ff6b08;
}
.movie-item__title {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 0px;
  color: #000000;
  text-transform: uppercase;
  font-style: normal;
}
.movie-item__genre {
  margin-top: 3px;
  margin-bottom: 0px;
  color: #ff6b08;
}
.movie-item__poster {
  background-image: url("../images/phone/postersmall.png");
  width: 280px;
  height: 398px;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .movie-item {
    max-height: 495px;
  }
  .movie-item__poster {
    background-image: url("../images/tablet/postermedium.png");
    width: 336px;
    height: 445px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-item__poster {
    background-image: url("../images/desktop/posterbig.png");
    width: 394px;
    height: 574px;
    margin-bottom: 12px;
  }
  .movie-item__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
  }
  .movie-item__rating {
    width: 40px;
    height: 20px;
    font-size: 12px;
    filter: none;
  }
  .movie-item__details {
    font-size: 20px;
    line-height: 24px;
  }
  .movie-item {
    max-width: 394px;
    max-height: 634px;
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  z-index: 1;
  display: flex;
  left: 0;
  top: 0;
  margin: 0;
  padding: 20px 20px 38px;
  width: 100%;
  min-height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .backdrop {
    padding: 220px 32px 32px;
  }
}
@media screen and (min-width: 1280px) {
  .backdrop {
    padding: 190px 32px 32px;
  }
}

.modal {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  width: 100%;
  max-width: 280px;
  background-color: #ffffff;
  color: #000000;
  margin: auto;
  padding: 48px 20px 40px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
}
@media screen and (min-width: 768px) {
  .modal {
    margin: auto;
    padding: 40px 72px 40px 36px;
    max-width: 704px;
  }
}
@media screen and (min-width: 1280px) {
  .modal {
    padding: 40px 12px;
    max-width: 810px;
  }
}
.modal__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .modal__container {
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }
}
.modal__close-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  padding: 0;
}
.modal__close-btn-icon {
  height: 100%;
  width: 100%;
  stroke: #000000;
}
.modal__poster {
  max-width: 240px;
  margin: 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
@media screen and (min-width: 768px) {
  .modal__poster {
    max-width: 264px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__poster {
    max-width: 375px;
  }
}
.modal__description {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .modal__description {
    margin-left: 68px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__description {
    margin-left: 16px;
  }
}
.modal__title {
  margin-block: 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .modal__title {
    margin: 0 0 20px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__title {
    font-size: 30px;
    line-height: 35px;
  }
}
.modal__column {
  flex: 50%;
}
.modal__property {
  margin: 8px 0;
  display: flex;
  flex-basis: 50%;
  line-height: 16px;
}
.modal__property-title {
  color: #8c8c8c;
  margin: 0;
}
.modal__property-value {
  margin: 0;
}
.modal__about {
  flex-direction: column;
  margin: 20px 0;
}
.modal__about-title {
  margin-bottom: 8px;
}
.modal__about-value {
  margin: 0;
  line-height: 20px;
}
.modal__highlight, .modal__btn--to-watched {
  color: #ffffff;
  border: none;
  border-radius: 5px;
  background-color: #ff6b01;
  padding: 1px 10px;
  font-weight: 700;
}
.modal__highlight-alternative, .modal__btn--to-watched-alternative {
  padding: 1px 4px;
  background-color: #f7f7f7;
}
.modal__buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .modal__buttons {
    gap: 15px;
    justify-content: left;
  }
}
.modal__btn {
  max-width: 110px;
  max-height: 44px;
  min-width: 110px;
  min-height: 44px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .modal__btn {
    max-width: 125px;
    min-width: 125px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__btn {
    max-width: 136px;
    min-width: 136px;
  }
}
.modal__btn--to-queue {
  color: #000000;
  border: solid 2px #000000;
  background-color: transparent;
  font-weight: 700;
}
.modal-open {
  display: flex;
  margin: 0 auto;
  font-size: 30px;
  background-color: red;
  border-radius: 50;
  cursor: pointer;
}

.footer {
  background-color: #f7f7f7;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  margin-top: 40px;
}
.footer__container {
  max-width: 240px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.footer__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  color: #545454;
}
.footer__text-link {
  color: #545454;
}

.heart-icon__container {
  position: relative;
  padding: 0;
  height: 13px;
  width: 34px;
}

.heart-icon__img {
  transition: transform 0.5s ease-in-out;
  width: 14px;
  height: 13px;
  position: absolute;
  top: 0;
  left: 10px;
  fill: #ff6b08;
}

.footer__container:has(.footer__text-link:hover) .heart-icon__img {
  transform: scale(1.4);
}

@media screen and (min-width: 768px) {
  .footer {
    height: 79px;
    margin-top: 60px;
  }
  .footer__container {
    max-width: 600px;
  }
  .footer__text {
    font-size: 16px;
    line-height: 19px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    height: 77px;
  }
}