@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
:root {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.1px;
  line-height: 1.15;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
  color: currentColor;
}

figcaption {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  max-width: 480px;
  padding: 0px 20px;
  align-items: center;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 75px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0px 70px;
  }
}

.main-header {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  text-align: center;
  color: #ffffff;
}

.icon {
  display: inline-block;
  fill: currentColor;
}

.navigation__icon {
  width: 24px;
  height: 24px;
}

.btn {
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.header__toggle-label {
  width: 50px;
  height: 20px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
.header__toggle-label:after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 1px;
  left: 1px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.header__toggle-input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.header__toggle-input:checked + .header__toggle-label {
  background: #242424;
}

.header__toggle-input:checked + .header__toggle-label:after {
  left: 49px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.header__toggle-label:active:after {
  width: 26px;
}

.header__toggle-input:checked + .header__toggle-label + .background {
  background: #242424;
}

body.light-theme {
  background-color: #ffffff;
  color: #333333;
}

body.dark-theme {
  background-color: #333333;
  color: #ffffff;
}

.header {
  min-height: 230px;
  background-size: cover;
  background-position: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__logo {
  display: flex;
  align-items: center;
}
.navigation__title {
  color: #ffffff;
  margin-left: 10px;
  font-size: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__title:hover, .navigation__title:focus {
  color: #FF6B08;
}
.navigation__nav {
  display: flex;
  align-items: flex-end;
}
.navigation__nav--list {
  color: #ffffff;
  position: relative;
  display: flex;
}
.navigation__nav--item {
  text-transform: uppercase;
  align-items: center;
  position: relative;
}
.navigation__nav--item:last-child {
  margin-left: 39px;
}
.navigation__nav--link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__nav--link:hover, .navigation__nav--link:focus {
  color: #FF6B08;
}
.navigation__nav--link:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #FF6B08;
  border-radius: 2px;
  transform: scale(0, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__nav--link--active:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #FF6B08;
  border-radius: 2px;
  transform: scale(1, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__nav--link:hover:after {
  transform: scale(1, 1);
}

@media screen and (max-width: 479px) {
  .navigation__title {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .navigation__container {
    padding-top: 46px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__container {
    padding-top: 41px;
  }
}
.library {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}
.library__div {
  display: flex;
  gap: 15px;
}
.library__btn {
  width: 136px;
  height: 44px;
  background: rgba(0, 0, 0, 0.56);
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  transition: all 0.2s ease-in-out;
}
.library__btn:active, .library__btn--selected {
  background-color: #FF6B08;
  border: 1px solid #FF6B08;
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
}
.library__btn:hover {
  transform: scale(1.03);
}