<!-- 
    ../images/
    path to link static images relative to html partial here
    delete comment before pull request
-->
<footer class="footer">
  <div class="footer__container">
    <div class="footer__page">
      <p class="copyright">&copy; 2020 | All Rights Reserved |</p>
 <div class="developer"d>
        <p>Developed with</p>
        <img class="footer__img"
        src="./images/footer-heart.png"
        alt="orange heart">
        <a href=""><p>by GoIT Students</p></a>
      </div>
    </div>
  </div>
</footer>
