<header class="header">
  <div class="header__container header__container--home">
    <div class="header__menu">
      <a href="./index.html" class="logo">
        <svg class="logo__icon">
          <use href="./images/icons.svg#icon-film"></use>
        </svg>
        <span class="logo__txt">Filmoteka</span>
      </a>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li>
            <a href="#" class="header__nav-link header__nav-link--underline" id="home"> HOME </a>
          </li>
          <li>
            <a href="#" class="header__nav-link" id="my-library"> MY LIBRARY </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__slider-box">
      <include src="./partials/header-home.html"></include>
      <include src="./partials/header-my-library.html"></include>
    </div>
    <include src="./partials/header-tools.html"></include>
  </div>
</header>
