<form class="header__form">
  <input
    class="header__form-input"
    type="text"
    placeholder="Type here to search movies..."
    name="search"
  />
  <button class="header__form-btn" type="submit">
    <svg class="header__form-icon" width="12" height="12">
      <use href="./images/icons.svg#icon-search"></use>
    </svg>
  </button>
  <p class="header__form-error-txt header__form-error-txt--hidden">
    Search failed... Please enter a correct movie title and try again.
  </p>

  <div class="header__toggle">
    <input class="header__toggle-input" type="checkbox" name="theme" id="darkmode-toggle" />
    <label class="header__toggle-label" for="darkmode-toggle"> </label>
  </div>
</form>
