<header class="header">
  <div class="header__container header__container--home">
    <div class="header__menu">
      <a href="#" class="logo">
        <svg class="logo__icon">
          <use href="./images/icons.svg#icon-film"></use>
        </svg>
        <span class="logo__txt">Filmoteka</span>
      </a>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li>
            <a href="#" class="header__nav-link header__nav-link--underline"> HOME </a>
          </li>
          <li>
            <a href="#" class="header__nav-link"> MY LIBRARY </a>
          </li>
        </ul>
      </nav>
    </div>
    <include src="./header-home.html"></include>
    <include src="./header-my-library.html"></include>
    <include src="./header-tools.html"></include>
  </div>
</header>
