<header class="header header--main"  id="go-top">
    <div class="header-container">
        <div class="header-menu">
            <!-- LOGO -->
            <div class="header-logo">
                <a class="header-logo__link" href="index.html">
                    <svg class="header-logo__icon icon">
                        <use href="./images/icons.svg#icon-film"></use>
                    </svg>
                    <span class="header-logo__title main-header">Filmoteka</span>
                </a>
            </div>

            <!-- NAVIGATION      -->
            <nav class="header-nav">
                <ul class="header-nav__list">
                    <li class="header-nav__item list">
                        <a class="header-nav__link header-nav__link--active link" href="index.html">home</a>
                    </li>
                    <li class="header-nav__item list">
                        <a class="header-nav__link link" href="my-library.html">my library</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- SEARCH FORM -->
        <form class="header-form">
            <input
                class="header-form__input"
                type="text"
                placeholder="Movie search"
                name="search"
            />
            <button class="header-form__btn" type="submit" >
                <svg class="header-form__icon" width="12" height="12">
                    <use href="./images/icons.svg#icon-magnifier"></use>
                </svg>
            </button>
        </form>

        <p class="header-form__misstatement">Search result not successful. Enter the correct movie name and</p>


        <!-- GENRE -->
    <div class="header__tools">
        <div class="header__genre">
            <select class="genre s-hidden">
                <option class="header__genre-option" disabled selected>Choose genre</option>
                <option class="genre-choice" value="Action">Action</option>
                <option class="genre-choice" value="Adventure">Adventure</option>
                <option class="genre-choice" value="Animation">Animation</option>
                <option class="genre-choice" value="Comedy">Comedy</option>
                <option class="genre-choice" value="Crime">Crime</option>
                <option class="genre-choice" value="Documentary">Documentary</option>
                <option class="genre-choice" value="Drama">Drama</option>
                <option class="genre-choice" value="Family">Family</option>
                <option class="genre-choice" value="Fantasy">Fantasy</option>
                <option class="genre-choice" value="History">History</option>
                <option class="genre-choice" value="Horror">Horror</option>
                <option class="genre-choice" value="Music">Music</option>
                <option class="genre-choice" value="Mystery">Mystery</option>
                <option class="genre-choice" value="Romance">Romance</option>
                <option class="genre-choice" value="Science Fiction">Science Fiction</option>
                <option class="genre-choice" value="TV Movie">TV Movie</option>
                <option class="genre-choice" value="Thriller">Thriller</option>
                <option class="genre-choice" value="War">War</option>
                <option class="genre-choice" value="Western">Western</option>
            </select>
        </div>

        <div class="header-toggler">
            <input class="header-toggler__input" type="checkbox" name="theme" id="darkmode-toggle" />
            <label class="header-toggler__label" for="darkmode-toggle"> </label>
        </div>
    </div>
</header>
