<div class="header__tools">
  <div class="tools__genre">
    <select class="tools__genre-select">
      <option class="tools__genre-option tools__genre-option--placeholder" disabled selected>
        Choose genre
      </option>
      <option class="tools__genre-option" value="Action">Action</option>
      <option class="tools__genre-option" value="Adventure">Adventure</option>
      <option class="tools__genre-option" value="Animation">Animation</option>
      <option class="tools__genre-option" value="Comedy">Comedy</option>
      <option class="tools__genre-option" value="Crime">Crime</option>
      <option class="tools__genre-option" value="Documentary">Documentary</option>
      <option class="tools__genre-option" value="Drama">Drama</option>
      <option class="tools__genre-option" value="Family">Family</option>
      <option class="tools__genre-option" value="Fantasy">Fantasy</option>
      <option class="tools__genre-option" value="History">History</option>
      <option class="tools__genre-option" value="Horror">Horror</option>
      <option class="tools__genre-option" value="Music">Music</option>
      <option class="tools__genre-option" value="Mystery">Mystery</option>
      <option class="tools__genre-option" value="Romance">Romance</option>
      <option class="tools__genre-option" value="Science Fiction">Science Fiction</option>
      <option class="tools__genre-option" value="TV Movie">TV Movie</option>
      <option class="tools__genre-option" value="Thriller">Thriller</option>
      <option class="tools__genre-option" value="War">War</option>
      <option class="tools__genre-option" value="Western">Western</option>
    </select>
  </div>
</div>
