<li class="movie-item">
  <div class="movie-item__poster"></div>
  <div class="movie-item__details">
    <h2 class="movie-item__title">MOVIE TITLE</h2>
    <span class="movie-item__genre">GENRE</span>
    <span class="movie-item__line">|</span>
    <span class="movie-item__year">Year: 2022</span>
    <span class="movie-item__rating">10.0</span>
  </div>
</li>
<li class="movie-item">
  <div class="movie-item__poster"></div>
  <div class="movie-item__details">
    <h2 class="movie-item__title">MOVIE TITLE</h2>
    <span class="movie-item__genre">GENRE</span>
    <span class="movie-item__line">|</span>
    <span class="movie-item__year">Year: 2022</span>
    <span class="movie-item__rating">10.0</span>
  </div>
</li>
<li class="movie-item">
  <div class="movie-item__poster"></div>
  <div class="movie-item__details">
    <h2 class="movie-item__title">MOVIE TITLE</h2>
    <span class="movie-item__genre">GENRE</span>
    <span class="movie-item__line">|</span>
    <span class="movie-item__year">Year: 2022</span>
    <span class="movie-item__rating">10.0</span>
  </div>
</li>
<li class="movie-item">
  <div class="movie-item__poster"></div>
  <div class="movie-item__details">
    <h2 class="movie-item__title">MOVIE TITLE</h2>
    <span class="movie-item__genre">GENRE</span>
    <span class="movie-item__line">|</span>
    <span class="movie-item__year">Year: 2022</span>
    <span class="movie-item__rating">10.0</span>
  </div>
</li>
<li class="movie-item">
  <div class="movie-item__poster"></div>
  <div class="movie-item__details">
    <h2 class="movie-item__title">MOVIE TITLE</h2>
    <span class="movie-item__genre">GENRE</span>
    <span class="movie-item__line">|</span>
    <span class="movie-item__year">Year: 2022</span>
    <span class="movie-item__rating">10.0</span>
  </div>
</li>
<li class="movie-item">
  <div class="movie-item__poster"></div>
  <div class="movie-item__details">
    <h2 class="movie-item__title">MOVIE TITLE</h2>
    <span class="movie-item__genre">GENRE</span>
    <span class="movie-item__line">|</span>
    <span class="movie-item__year">Year: 2022</span>
    <span class="movie-item__rating">10.0</span>
  </div>
</li>
<li class="movie-item">
  <div class="movie-item__poster"></div>
  <div class="movie-item__details">
    <h2 class="movie-item__title">MOVIE TITLE</h2>
    <span class="movie-item__genre">GENRE</span>
    <span class="movie-item__line">|</span>
    <span class="movie-item__year">Year: 2022</span>
    <span class="movie-item__rating">10.0</span>
  </div>
</li>
