<div id="students-container">
  <div class="students-background">
    <div class="students-card">
      <div class="students-title">
        <h2>Our Team:</h2>
        <h2>Our Team:</h2>
      </div>
      <div class="students-list">
        <div class="students-list__item">
          <img class="students-card-picture" src="./images/team/svg1.svg" alt="" />
          <div class="students-card-name">Rafał Łakomiec</div>
          <p class="students-name_role">Team Leader</p>
        </div>
        <div class="students-list__item">
          <img class="students-card-picture" src="./images/team/svg2.svg"" alt="">
          <div class="students-card-name">Piotr Jankowski</div>
          <p class="students-name_role">Scrum Master</p>
        </div>
        <div class="students-list__item">
          <img class="students-card-picture" src="./images/team/svg8.svg"" alt="">
          <div class="students-card-name">Mateusz Karpiński</div>
          <p class="students-name_role">Developer</p>
        </div>
        <div class="students-list__item">
          <img class="students-card-picture" src="./images/team/svg7.svg"" alt="">
          <div class="students-card-name">Michał Backi</div>
          <p class="students-name_role">Developer</p>
        </div>
        <div class="students-list__item">
          <img class="students-card-picture" src="./images/team/svg4.svg"" alt="">
          <div class="students-card-name">Natalia Grela</div>
          <p class="students-name_role">Developer</p>
        </div>
        <div class="students-list__item">
          <img class="students-card-picture" src="./images/team/svg9.svg"" alt="">
          <div class="students-card-name">Paweł Eliszewski</div>
          <p class="students-name_role">Developer</p>
        </div>
        <div class="students-list__item">
          <img class="students-card-picture" src="./images/team/svg3.svg"" alt="">
          <div class="students-card-name">Robert Kościuszko</div>
          <p class="students-name_role">Developer</p>
        </div>
        <div class="students-list__item">
          <img class="students-card-picture" src="./images/team/svg5.svg"" alt="">
          <div class="students-card-name">Sebastian Zasadni</div>
          <p class="students-name_role">Developer</p>
        </div>
        <div class="students-list__item">
          <img class="students-card-picture" src="./images/team/svg6.svg"" alt="">
          <div class="students-card-name">Tomasz Ostaszewski</div>
          <p class="students-name_role">Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>
