

// .movie-item {
//     max-height: 440px;
//     max-width: 280px;
// }

.gallery {
    display: flex;
    flex-direction: column;
    padding: 0 20px 61px; 
}

@media screen and (min-width: 768px) {

// .movie-item {
//     max-height: 495px;
// }

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;
}

&__container {
    flex-basis: calc((100% - 32px) / 2);
}

}

@media screen and (min-width: 1280px) {

    // .movie-item {
    //     max-width: 394px;
    //     max-height: 634px;
    //   }
      
    .gallery {
        display: flex;
        flex-wrap: wrap;
        padding-left: 32px;
        padding-right: 32px;
        column-gap: 32px;
    }


    &__container {
        flex-basis: calc((100% - 16px) / 3);

    }
}


