// ../../images/
//     path to link static images relative to scss partial here
// PLEASE USE BEM METHODOLOGY
// delete these comments before pull request

.header{
    display: flex;
    justify-content:center;
    align-items: center;
}
.header-form{
    margin: 10px;
}