// ../../images/
//     path to link static images relative to scss partial here
// PLEASE USE BEM METHODOLOGY
// delete these comments before pull request
.main {
}

.main-content__container {
}

.main-content__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 32px 16px;
}

.main-content__pagination {
  // only positioning styles here
}
