.main-content {
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  display: block;

  &__container {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (min-width: 768px) {
      max-width: 768px;
      padding: 0 32px;
    }

    @media screen and (min-width: 1280px) {
      max-width: 1280px;
    }
  }

  &__list {
    min-width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 21px 0;
    flex-basis: 280px;

    @media screen and (min-width: 768px) {
      gap: 32px;
      flex-basis: calc((100% - 32px) / 2);
    }

    @media screen and (min-width: 1280px) {
      gap: 32px 16px;
      flex-basis: calc((100% - 32px) / 3);
    }
  }
}
